<footer>
  <div class="container d-flex justify-content-between mt-2">
    <span class="attribution">
      An interactive learning project made by team of NgocTTA4 & HuyNQ80 with
      <i class="ion-heart"></i>
    </span>
    <div>
      <a href="https://github.com/NgocHuy-MockProject/mockproject-blog"
        ><i class="fab fa-github"></i
      ></a>
      <a href=""><i class="fab fa-linkedin"></i></a>
      <a href=""><i class="fab fa-google-plus-g"></i></a>
      <a href=""><i class="fab fa-facebook-square"></i></a>
    </div>
  </div>
</footer>
