<footer>
  <div class="container d-flex justify-content-between mt-2">
    <span class="attribution">
      An interactive learning project made by HuyNQ80
    </span>
    <div>
      <a href="https://github.com/NgocHuy-MockProject/mockproject-blog"
        ><i class="fab fa-github"></i
      ></a>
      <a href=""><i class="fab fa-linkedin"></i></a>
      <a href=""><i class="fab fa-google-plus-g"></i></a>
      <a href=""><i class="fab fa-facebook-square"></i></a>
    </div>
  </div>
</footer>
