<nav class="container navbar-expand-md navbar-light ml-auto">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a
      class="navbar-brand d-none d-xs-none d-sm-none d-md-inline-block d-lg-inline-block"
      routerLink="/"
    >
      <img
        src="../../../../assets/logo.png"
        alt=""
        width="50px"
        height="50px"
      />
    </a>

    <div class="col-md-7" class="autocomplete" style="margin-top: 10px">
      <div class="md-form">
        <form autocomplete="off" action="/action_page.php">
          <div class="autocomplete" style="width:300px;">
            <input
              style="display: inline-block;"
              #input
              id="myInput"
              type="text"
              name="myCountry"
              placeholder="Search username"
              (keyup)="search(input.value)"
            /><i
              (click)="input.value = ''; checked = false"
              *ngIf="input.value"
              class="fas fa-times icon"
            ></i>
            <div class="div-arround" *ngIf="checked">
              <div
                class="autocomplete-items"
                *ngFor="let user of profile"
                (click)="input.value = ''; viewProfile(user.username)"
              >
                <img
                  src="http://localhost:3000/api/image/avatar?image_name={{
                    user.image
                  }}"
                  class="user-image"
                />{{ user.username }}
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- Show this for logged out users -->
    <ul
      *ngIf="isActive == false"
      class="navbar-nav ml-md-auto mt-2 mt-lg-0 text-center"
    >
      <li class="nav-item text-center">
        <a class="nav-link" routerLink="/">
          <i class="fas fa-home"></i>
          Home
        </a>
      </li>
      <li class="nav-item text-center">
        <a class="nav-link" routerLink="auth/login" routerLinkActive="active">
          Sign in
        </a>
      </li>
      <li class="nav-item text-center">
        <a
          class="nav-link"
          routerLink="auth/register"
          routerLinkActive="active"
        >
          Sign up
        </a>
      </li>
    </ul>
    <ul *ngIf="isActive" class="nav navbar-nav ml-md-auto">
      <li class="nav-item text-center">
        <a
          class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i class="fas fa-home"></i>
          Home
        </a>
      </li>
      <li class="nav-item text-center">
        <a
          class="nav-link"
          routerLink="article/editor"
          routerLinkActive="active"
        >
          <i class="ion-compose"></i>&nbsp;New Article
        </a>
      </li>
      <li class="nav-item text-center">
        <a
          class="nav-link"
          routerLink="auth/settings"
          routerLinkActive="active"
        >
          <i class="ion-gear-a"></i>&nbsp;Settings
        </a>
      </li>

      <li class="nav-item text-center">
        <a
          class="nav-link"
          [routerLink]="['/profile/' + userActive.username]"
          routerLinkActive="active"
        >
          <img
            src="http://localhost:3000/api/image/avatar?image_name={{
              userActive.image
            }}"
            *ngIf="userActive.image"
            class="user-pic"
          />
          {{ userActive.username }}
        </a>
      </li>
    </ul>
  </div>
</nav>
