<ol class="breadcrumb">
  <li>
    <a href="#">
      <em class="fa fa-home"> / </em>
    </a>
  </li>
  <li>Home</li>
</ol>
<div class="content">
  <div class="title">
    <h1 class="page-header">Dashboard</h1>
  </div>
  <div class="statistical row">
    <div class="box col-md-3">
      <em class="fa fa-xl fa-users color-teal"></em>
      <div class="large">{{ totalUser }}</div>
      <div class="text-muted">User</div>
    </div>
    <div class="box col-md-3">
      <em class="fa fa-xl fa-newspaper color-blue"></em>
      <div class="large">{{ totalPost }}</div>
      <div class="text-muted">Post</div>
    </div>
    <div class="box col-md-3">
      <em class="fa fa-xl fa-spinner color-orange"></em>
      <div class="large">{{ totalPostPending }}</div>
      <div class="text-muted">Post pending</div>
    </div>
    <div class="box col-md-3">
      <em class="fa fa-xl fa-tags color-orange"></em>
      <div class="large">{{ totalTag }}</div>
      <div class="text-muted">Topic</div>
    </div>
  </div>
</div>
