.article-content span {
  border: 1px solid #ddd;
  color: #aaa !important;
  background: 0 0 !important;
}
h1 {
  font-size: 36px !important;
}
.article-meta a {
  color: #111111;
}
.tag-pill {
  transition: all 1s ease;
  border: none;
  outline: none;
  border: 1px solid #fff;
}
.tag-pill:hover {
  background-color: #ffffff;
  border: 1px solid #111111;
  color: #111111 !important;
}
