<h2 mat-dialog-title>Instruction to upload videos</h2>
<mat-dialog-content class="mat-typography">
  <h3>B1: Create a YouTube account if you haven't already</h3>
  <img src="../../../assets/taokenh.PNG" />

  <h3>B2: Upload a video</h3>
  <img src="../../../assets/dangvideo.PNG" />

  <h3>B3: Open the video on YouTube</h3>
  <img src="../../../assets/truycapvideo.PNG" />

  <h3>B4: This is your video id</h3>
  <p>For example: ml4X15E8Qro</p>
  <img src="../../../assets/idvideo.PNG" />

  <h3>B5: Copy and paste here</h3>
  <img src="../../../assets/copyandpaste.PNG" />

  <h3 style="color: crimson;">
    However, you can also upload any video on YouTube by getting the id as above
  </h3>

  <p>Thanks for reading!</p>
</mat-dialog-content>
